<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Books List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<h1>Books</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Pages</th>
        <th>Description</th>
        <th>Copies Sold</th>
        <th>Publisher</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title} ?: '—'">Title</td>
        <td th:text="${book.author?.name} ?: '—'">Author</td>
        <td th:text="${book.genre?.name} ?: '—'">Genre</td>
        <td th:text="${book.year} ?: '—'">Year</td>
        <td th:text="${book.pageAmount} ?: '—'">Pages</td>
        <td th:text="${book.description} ?: '—'">Description</td>
        <td th:text="${book.copiesSold} ?: '—'">Copies Sold</td>
        <td th:text="${book.publisher?.name} ?: '—'">Publisher</td>
        <td>
            <a th:href="@{'/books/edit/' + ${book.id}}">
                <button type="button">Edit</button>
            </a>
            <form th:action="@{'/books/delete/' + ${book.id}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h1>Search by:</h1>
<form th:action="@{/books/search}" method="get" class="search-form">
    <label>Title:
        <input type="text" name="title" th:value="${title} ?: ''" />
    </label>
    <label>Author:
        <input type="text" name="author" th:value="${author} ?: ''" />
    </label>
    <label>Pages:
        <input type="number" name="pages" min="1" th:value="${pages} ?: ''" />
    </label>
    <label>Year:
        <input type="number" name="year" th:value="${year} ?: ''" />
    </label>
    <label>Publisher:
        <input type="text" name="publisher" th:value="${publisher} ?: ''" />
    </label>
    <label>Description:
        <input type="text" name="description" th:value="${description} ?: ''" />
    </label>

    <button type="submit">Search</button>
</form>
<div class="button-row">
    <a th:href="@{/}">
        <button type="submit">Reset</button>
    </a>

    <a th:href="@{/books/best-sellers}">
        <button type="submit">Show Best Sellers</button>
    </a>

    <a th:href="@{/books/add}">
        <button type="submit">Add New Book</button>
    </a>
</div>

</body>
</html>
